@page {
  size: a4 portrait;
  /* 210 x 297 mm */
  /* page-width: 595pt */
  /* page-height: 842pt */
  @frame  {           /* Static Frame */
    left: 30mm; width: 150mm; top: 100mm; height: 140mm;
    /* -pdf-frame-border: 1; */
  }
}

@page toc_template {
  size: a4 portrait;
  /* page-width: 595pt */
  /* page-height: 842pt */
  @frame  {           /* Static Frame */
    left: 25mm; width: 160mm; top: 70pt; height: 702pt;
    /* -pdf-frame-border: 1; */
  }
}

@page regular_template {
  size: a4 portrait;
  @frame header_frame {           /* Static Frame */
      -pdf-frame-content: header_content;
      left: 20mm; width: 175mm; top: 40pt; height: 30pt;
      /* -pdf-frame-border: 1; */
  }
  @frame content_frame {          /* Content Frame */
      left: 20mm; width: 175mm; top: 90pt; height: 692pt;
  }
  @frame footer_frame {           /* Another static Frame */
      -pdf-frame-content: footer_content;
      left: 20mm; width: 175mm; top: 792pt; height: 40pt;
  }
}

#header_content {
  padding-bottom: 0;
  margin-bottom: 0;
  color: darkgray;
  font-size: 80%;
  font-style: italic;
}

#header_content hr {
  margin-top: 0px;
  color: #666;
}

#footer_content {
  margin-top: 0;
  padding-top: 0;
  color: darkgray;
  font-size: 80%;
  font-style: italic;
}

#footer_content hr {
  margin-bottom: 5px;
}

#footer {
  display: flex;
  flex-direction: row;
}

.footer_copyright {
  flex: 1;
}
.footer_page_number {
  text-align: right;
}

#page_title {
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
}

#toc-title {
  font-weight: bold;
  font-size: 32pt;
  padding-top: 0;
  padding-bottom: 10px;
  text-align: center;
}

.pdftoc {
  font-family: calibri;
  color: #252525;
}
.pdftoclevel0 {
  font-weight: bold;
  font-size: 95%;
  margin-top: 1.5em;
}
.pdftoclevel1 {
  font-weight: normal;
  margin-left: 1.5em;
  font-size: 95%;
  margin-top: 0;
}

.pdftoclevel2 {
  font-weight: normal;
  margin-left: 2.5em;
  font-style: italic;
  font-size: 95%;
  margin-top: 0;
}

pre {
  page-break-inside: avoid;
  border-left: solid 5px #c8c8c8;
  background-color: #f9f9fb;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 30px;  
}

pre code {
  font-size: 13pt;
  color: #2d2d2d;
}

code {
  font-size: 15pt;
  color: #A5215D;
}

blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  page-break-inside: avoid;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote.quote {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
}

blockquote.notice {
  background-color: #f0f5ff;
  border-left: solid 5px #5b87dd;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

blockquote.notice strong {
  color: #255ac0;
}

blockquote.warning {
  background-color: #ffeced;
  border-left: solid 5px #dd787d;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

blockquote.warning strong {
  color: #c0262b;
}

body {
  font-family: calibri;
  font-size: 14pt;
  line-height: 1.2;
  color: #252525;
}

h1 {
  font-family: times;
  font-size: 32pt;
  padding-top: 0;
  padding-bottom: 20px;
}

h2 {
  font-family: times;
  text-align: left;
  font-size: 24pt;
  padding-top: 0;
  padding-bottom: 10px;
}

h3 {
  font-family: calibri;
  font-weight: bold;
  text-align: left;
  font-size: 16pt;
  padding-top: 5px;
  padding-bottom: 0;
}
